body {
	background: hsl(0, 0%, 90%);
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.movie {
  	display: inline-block;
  	border: 0;
}
.container {
    margin: 0 auto;
    padding: 0 1em;
    display: inline-block;
}

body, button, input, select, textarea {
	color: #404040;
	font-family: 'Comfortaa', Arial, sans-serif;
	font-size: 18px;
    line-height: 1.5;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}